.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    justify-content: space-between; 
      
    }
    .heading{
      margin-left: 700px;
      color: black;
      font-weight: 700;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .mat-card {
      flex: 1; 
    }
    
    .messages {
      max-height: 300px;
      overflow-y: auto
    }
    
    .user-message {
      text-align: right;
      background-color: #e1f5fe;
      margin: 5px;
      padding: 10px;
      border-radius: 10px;
      color: black;
    }
    
    .bot-message {
      text-align: left;
    background-color: #fff9c4;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    color: black;
    }
    
    .message-input {
      width: calc(100% - 100px); 
      margin-right: 10px;
      }
  
      .mat-card-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        position: sticky;
        bottom: 0;
        background-color: #f0f0f0; 
      }
    