<div class="chat-container">
    <h1 class="heading">ChatBot</h1>
    <mat-card>
        <mat-card-content>
          <div class="messages">
            <ng-container *ngFor="let item of chatHistory">
                <div [ngClass]="{'user-message': item.from === 'user', 'bot-message': item.from === 'bot'}">
                  {{ item.message }}
                </div>
              </ng-container>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <mat-form-field appearance="fill" class="message-input">
            <mat-label>Type your message</mat-label>
            <input matInput [(ngModel)]="userMessage"  (keydown)="sendMessageOnEnter($event)">
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="sendMessage()">Send</button>
        </mat-card-actions>
      </mat-card>
  </div>